{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

<div class="container mt-4">
    <h1>Product List</h1>

    <div class="mb-3">
        <a href="{{ path('product_new') }}" class="btn btn-primary">Create New Product</a>
    </div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td>
                    <a href="{{ path('product_show', { id: product.id }) }}">
                    {{ product.name }}
                    </a>
                </td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table
</div>
{% endblock %}
